body, h1, h2, h3, p, ul, li, form, input, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, label {
    color: #683219;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #FCD6AA;
    color: #fff;
    padding: 10px 0;
    text-align: center; 
}
h2 {
    color: #683219;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    max-width: 100%; 
    height: auto;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #683219;
    text-decoration: none;
}

main {
    padding: 20px;
}

.section {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.product h3 {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #FCD6AA;
    color: #683219; 
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 915px; 
    
}

form button:hover {
    background: #FCD6AA;
}

footer {
    background: #FCD6AA;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.carousel {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    max-width: 100%;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .product {
        margin-bottom: 15px;
    }
}


